<div class="captcha__image-container"
    ng-class="{
        'ng-invalid': !CaptchaCtrl.isCorrect,
        'ng-touched': CaptchaCtrl.isSelected,
    }">
    <img
        class="captcha__image"
        ng-repeat="captcha in CaptchaCtrl.captchas"
        ng-class="{
            'selected': CaptchaCtrl.user.picture === captcha
        }"
        ng-src="{{captcha.src}}"
        ng-click="CaptchaCtrl.validateCaptcha(captcha)"
    >
</div>
<input type="checkbox" ng-model="CaptchaCtrl.isCorrect"  required disabled hidden>
<span class="input__error-hint captcha__error-hint">Вы выбрали собачку. А надо - котика.</span>