<div ng-if="ControlsCtrl.pages[ControlsCtrl.active + 1]">
    <button class="controls__button"
        ng-disabled="!ControlsCtrl.pages[ControlsCtrl.active - 1]"
        ng-click="ControlsCtrl.goPrevPage()"
        >Предыдущий
    </button>
    <button class="controls__button"
        ng-if="ControlsCtrl.pages[ControlsCtrl.active + 2]"
        ng-disabled="!ControlsCtrl.pages[ControlsCtrl.active + 1] || !ControlsCtrl.nextAvailiable"
        ng-click="ControlsCtrl.goNextPage()"
        >Следующий
    </button>
    <button class="controls__button--again"
            ng-if="!ControlsCtrl.pages[ControlsCtrl.active + 2]"
            ng-disabled="!ControlsCtrl.pages[ControlsCtrl.active + 1] || !ControlsCtrl.nextAvailiable"
            ng-click="ControlsCtrl.goNextPage()"
    >Завершить
    </button>
</div>
<button class="controls__button--again"
        ng-if="!ControlsCtrl.pages[ControlsCtrl.active + 1]"
        ng-click="ControlsCtrl.goStart()"
>Пройти заново</button>
