<label class="input__label">
    <input type="text"
           required
           typeahead-editable="false"
           typeahead-min-length="0"
           placeholder="Страна"
           typeahead-on-select="LocationCtrl.updateCities(LocationCtrl.user.country)"
           ng-model="LocationCtrl.user.country"
           uib-typeahead="country as country.name for country in LocationCtrl.countries | filter:{name: $viewValue}">

    <span class="input__error-hint">Выберите из списка</span>
</label>
<label class="input__label">
    <input type="text"
           required
           typeahead-editable="false"
           typeahead-min-length="0"
           placeholder="Город"
           ng-model="LocationCtrl.user.city"
           uib-typeahead="city for city in LocationCtrl.cities  | filter:$viewValue">
    <span class="input__error-hint">Выберите из списка</span>
</label>
